body {
  background: #EDE7F6;
  font-family: 'Roboto', 'Noto', sans-serif;
  font-size: 14px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  padding:16px;
  transform: translateZ(0);
  -webkit-overflow-scrolling: touch;
}
#header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 185px;
  background-color: #673AB7;
}
#card {
  max-width: 800px;
  min-width: 280px;
  padding: 24px;
  background: #fff;
  z-index: 1;
  position: relative;
  margin: auto;
  margin-top: 65px;
  border-radius: 3px;
  margin-bottom: 25px;
  min-height: 400px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
}
#lastRestart {
  font-size: 12px;
  margin-left: 4px;
  display: inline-block;
}
.flex {
  display: flex;
}
.space-between {
  justify-content: space-between;
}
.flex-vertical-center {
  align-items: center;
}
.online {
  margin: 4px auto;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid #6e6d6d;
  background: rgb(0, 190, 0);
  margin-left: 8px;
  display: inline-block;
}
.offline {
  margin: 4px auto;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid #6e6d6d;
  background: red;
  margin-left: 8px;
  display: inline-block;
}
.button {
  display: inline-block;
  position: relative;
  box-sizing:border-box;
  min-width: 5.14em;
  margin: 0 0.29em;
  text-align: center;
  text-transform: uppercase;
  outline-width: 0;
  border-radius: 3px;
  padding: 0.7em 0.57em;
  cursor: pointer;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
  -webkit-user-select: none;
  user-select: none;
  overflow: hidden;
  pointer-events: all;
}
.disabled-button {
  background: rgba(0,0,0,0.1);
  box-shadow: none;
  cursor: none;
  pointer-events: none;
}
.button:active {
  box-shadow:0 8px 10px 1px rgba(0,0,0,0.14),0 3px 14px 2px rgba(0,0,0,0.12),0 5px 5px -3px rgba(0,0,0,0.4);
}
.disabled-button:active {
  box-shadow: none;
}
.ripple-effect {
  position: absolute;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: white;
  animation: ripple-animation 1.5s;
}
@keyframes ripple-animation {
    from {
      transform: scale(1);
      opacity: 0.4;
    }
    to {
      transform: scale(100);
      opacity: 0;
    }
}
@keyframes loading-bar {
  0% {
    transform: translateX(-100%)
  }
  50% {
    transform: translateX(100%)
  }
  100% {
    transform: translateX(-100%)
  }
}
.toast {
  background: #323232;
  padding: 16px;
  display: inline-block;
  font-size: 14px;
  text-align: left;
  position: absolute;
  border-radius: 3px;
  bottom: 8px;
  left: 8px;
  color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: opacity .25s ease-in-out;
  min-width: 200px;
}
#dialog-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
}
.dialog {
  min-width: 265px;
  box-sizing: border-box;
  outline: none;
  z-index: 103;
  position: fixed;
  border-radius: 3px;
  display: block;
  padding: 20px;
  font-weight: 400;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  color: #212121;
  margin: 24px 40px;
  background: #ffffff;
  transform: scale3d(0,0,0);
  transition: transform .35s ease-in-out;
  box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14),0 6px 30px 5px rgba(0,0,0,0.12),0 8px 10px -5px rgba(0,0,0,0.4);
}
.dialog-opened {
  transform: scale3d(1,1,1);
}
.hidden {
  opacity: 0;
}
#reboot-dialog-reboot {
  color: #fff;
  background: #673AB7;
}
.dialog-large {
  margin: 16px;
  font-size: 16px;
}
.bar-wrapper {
  height: 5px;
  width: 100%;
  background: #ccc;
  margin-bottom: 16px;
  overflow: hidden;
  display: none;
}
.load-bar {
  height:5px;
  width: 100%;
  background: #673AB7;
  animation: loading-bar 3s infinite;
}
.bar {
  height:5px;
  width: 100%;
  transform: translateX(-100%);
  background: #673AB7;
  transition: transform 34s cubic-bezier(0, 0, 0.29, 0.74);
}
#fab {
  background: #673AB7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  height: 56px;
  min-width: 0;
  outline: none;
  padding: 16px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 56px;
  -webkit-tap-highlight-color: transparent;
  box-shadow:0 4px 5px 0 rgba(0,0,0,0.14),0 1px 10px 0 rgba(0,0,0,0.12),0 2px 4px -1px rgba(0,0,0,0.4);
  z-index: 2;
  transform: translateY(80px);
  transition: transform .35s ease-in-out;
  overflow: hidden;
}
#fab:active {
  box-shadow:0 8px 10px 1px rgba(0,0,0,0.14),0 3px 14px 2px rgba(0,0,0,0.12),0 5px 5px -3px rgba(0,0,0,0.4);
}
.clickable {
  cursor: pointer;
  overflow: hidden;
  position: relative;
  transform: translateZ(1)
}
.clickable:active {
  background: rgba(0, 0, 0, 0.1);
}
.loader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255,255,255,0.6);
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: 18px;
  z-index:5;
  pointer-events: none;
}
.icon-button {
  cursor: pointer;
  padding: 8px;
  overflow: hidden;
  position: relative;
}
.high-low-text {
  font-size: 12px;
  margin-bottom: 4px;
}
.animate {
  will-change: opacity;
  transition: opacity .5s ease-in-out;
}
.icon-button-disabled {
  cursor: auto;
  pointer-events: none;
  color: #ccc;
}
