body {
  background: #EDE7F6;
  font-family: 'Roboto', 'Noto', sans-serif;
  font-size: 14px;
}
.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  padding:16px;
  -webkit-overflow-scrolling: touch;
}
#header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 185px;
  background-color: #673AB7;
}
#card {
  max-width: 800px;
  min-width: 280px;
  padding: 24px;
  background: #fff;
  z-index: 1;
  position: relative;
  margin: auto;
  margin-top: 65px;
  border-radius: 3px;
  opacity: 0;
  margin-bottom: 75px;
}
#lastRestart {
  font-size: 12px;
  margin-left: 4px;
  display: inline-block;
}
.shadowTop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: inherit;
  pointer-events: none;
  box-shadow: 0 17px 17px 0 rgba(0, 0, 0, 0.15);
}
.shadowBottom {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: inherit;
  pointer-events: none;
  box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3);
}
.flex {
  display: flex;
}
.space-between {
  justify-content: space-between;
}
.flex-vertical-center {
  align-items: center;
}
.online {
  margin: 4px auto;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid #6e6d6d;
  background: rgb(0, 190, 0);
  margin-left: 8px;
  display: inline-block;
}
.offline {
  margin: 4px auto;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid #6e6d6d;
  background: red;
  margin-left: 8px;
  display: inline-block;
}
.button {
  display: inline-block;
  position: relative;
  box-sizing:border-box;
  min-width: 5.14em;
  margin: 0 0.29em;
  text-align: center;
  text-transform: uppercase;
  outline-width: 0;
  border-radius: 3px;
  padding: 0.7em 0.57em;
  cursor: pointer;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
  -webkit-user-select: none;
  user-select: none;
}
#toast {
  background: #323232;
  padding: 16px;
  display: inline-block;
  font-size: 14px;
  text-align: left;
  position: absolute;
  border-radius: 3px;
  bottom: 8px;
  left: 8px;
  color: #fff;
  will-change: transform;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: opacity .25s ease-in-out;
  min-width: 200px;
}
#dialog-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
}
.dialog {
  min-width: 265px;
  box-sizing: border-box;
  outline: none;
  z-index: 103;
  position: fixed;
  display: block;
  padding: 20px;
  font-weight: 400;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  color: #212121;
  margin: 24px 40px;
  background: #ffffff;
  transform: scale3d(0,0,0);
  transition: transform .25s ease-in-out;
  box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14),0 6px 30px 5px rgba(0,0,0,0.12),0 8px 10px -5px rgba(0,0,0,0.4);
}
.dialog-opened {
  transform: scale3d(1,1,1);
}
.hidden {
  opacity: 0;
}
#reboot-dialog-reboot {
  color: #fff;
  background: red;
}
.dialog-large {
  margin: 16px;
  font-size: 16px;
}
